<h3>New product</h3>

<br />

<md-content layout-padding>
    <form name="projectForm" ng-submit="submit()">
      <div layout="row">
        <md-input-container flex="50">
          <label>Name</label>
          <input required name="clientName" ng-model="name" id="product-name">
          <div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <md-slider-container>
          <span>Price (USD)</span>
          <md-slider flex min="100" max="5000" ng-model="price" aria-label="red" id="red-slider">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="price" aria-label="red" aria-controls="red-slider" id="product-price">
          </md-input-container>
        </md-slider-container>
      </md-input-container>
      <div>
        <md-button type="submit" md-no-ink class="md-raised">Add product</md-button>
      </div>
    </form>
  </md-content>
